@import 'mixin';
@import 'valuable';

.discounts {
        &__propose {
            margin-top: 150px;
        }
        h2 {
            @include titleSection;
            margin-bottom: -40px;
        }
        &.container {
            margin-top: 100px;
        }
       .card {
            padding: 0px;
            min-width: 291px;
            color: #000;
            border-radius: 10px;
            .card-body {
                padding: 15px;
                .card-title {
                    font-size: 19px;
                }
            }
        .prise {
            margin-top: 20px;
            .color {
                display: inline-block;
                background-color: #ff250d;
                border-radius: 20px;
                color: #fff;
                font-size: 36px;
                height: 40px;
                width: 90px;
                line-height: 42px;
                text-align: center;
            }
            .crossed {
                padding-left: 10px;
                font-size: 30px;
                font-weight: 700;
                text-decoration: line-through red;
            }
        }
        .btn {
            @include btnCard;
            span {
                @include btnSpan;
            }
        }
    }
}
.discounts .carousel-indicators {
    bottom: -70px;
    li {
        background: #fff;
        border: 1px solid $colorYellow;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        &.active {
            background-color: $colorYellow;
        }
    }  
}
.discounts .carousel-control-prev,
.discounts .carousel-control-next {
    font-weight: 100;
    position: relative;
    display: inline-block;
    background: #fff;
    opacity: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid $colorYellow;
    vertical-align: middle;
    &:hover {
        background: $colorYellow;
        transition: all .5s;
        color: #fff;
        .fa-chevron-right,
        .fa-chevron-left {
            color: #fff;
            transition: all 0.5s;
        }
    }
}
.discounts .carousel-control-prev .fa-chevron-left {
    color: #000;
    font-size: 30px;
    padding-top: 5px ;
}
.discounts .carousel-control-next .fa-chevron-right {
    color: #000;
    padding-top: 5px;
    font-size: 30px;
}
.discount__slider-arrows {
    margin-right: 0;
    margin-left: auto;
    padding-bottom: 40px ;
}

.discounts__propose {
    &.container {
        margin-top: 150px;
    }
    .discounts__propose-item {
        background: $colorPink;
        font-size: 34px;
        line-height: 37px;
        border-radius: 10px;
        h3 {
            font-size: 24px;
            @include fontMyriad;
            text-transform: uppercase;
            padding: 56px 0px 0px 172px;
        }
        .propose-item-link {
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background: #fff;
            margin: 0px 15px 15px auto;
            position: relative;
            a {
                display: inline-block;
                position: absolute;
                top: 40%;
                left: 55%;
                transform: translate(-50%, -50%);
            }
            .fa-chevron-right {
                font-size: 15px;
                color: #000;
            }
        }
    }
    .discounts__propose-item.blue {
        background: $colorBlue;
        h3 {
            
            padding: 56px 0px 0px 140px;
        }
        
    }
    .robot {
        position: absolute;
        top: -42px;
        left: -20px;
        width: 182px;
    }
    .piramid {
        position: absolute;
        top: -19px;
        left: 5px;
        width: 142px;
    }
    
}